<!DOCTYPE html>
<html>
	<head>
		<title>博客-晁州</title>

		<!-- meta -->
		<meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">

	    <!-- css -->
		<link rel="stylesheet" href="/static/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/css/ionicons.min.css">
		<link rel="stylesheet" href="/static/css/pace.css">
	    <link rel="stylesheet" href="/static/css/custom.css">

	    <!-- js -->
	    <script src="/static/js/jquery-2.1.3.min.js"></script>
	    <script src="/static/js/bootstrap.min.js"></script>
	    <script src="/static/js/pace.min.js"></script>
	    <script src="/static/js/modernizr.custom.js"></script>
	    <script src="/static/js/laypage/laypage.js"></script>
	</head>

	<body>
		<div class="container">	
			<header id="site-header">
				<div class="row">
					<div class="col-md-4 col-sm-5 col-xs-8">
						<div class="logo">
							<h1><a href="/"><b>晁州</b> &amp; 个人博客</a></h1>
						</div>
					</div><!-- col-md-4 -->
					<div class="col-md-8 col-sm-7 col-xs-4">
						<nav class="main-nav" role="navigation">
							<div class="navbar-header">
  								<button type="button" id="trigger-overlay" class="navbar-toggle">
    								<span class="ion-navicon"></span>
  								</button>
							</div>

							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  								<ul class="nav navbar-nav navbar-right">
    								<li class="cl-effect-11"><a href="/" title="主页">主页</a></li>
    								<li class="cl-effect-11"><a href="/blogs" title="博客">博客</a></li>
    								<li class="cl-effect-11"><a href="/about" title="关于我">关于我</a></li>
    								<li class="cl-effect-11"><a href="/contact" title="联系">联系</a></li>
  								</ul>
							</div><!-- /.navbar-collapse -->
						</nav>
						<div id="header-search-box">
							<a id="search-menu" href="#"><span id="search-icon" class="ion-ios-search-strong"></span></a>
							<div id="search-form" class="search-form">
								<form role="search" method="get" id="searchform" action="#">
									<input type="search" placeholder="Search" required>
									<button type="submit"><span class="ion-ios-search-strong"></span></button>
								</form>				
							</div>
						</div>
					</div><!-- col-md-8 -->
				</div>
			</header>
		</div>

		<div class="content-body">
			<div class="container">
				<div class="row">
					<main class="col-md-12">
						<article class="post post-1">
							<header class="entry-header">
								<h1 class="entry-title">
									<a href="/blog">Adaptive Vs. Responsive Layouts And Optimal Text Readability</a>
								</h1>
								<div class="entry-meta">
									<span class="post-category"><a href="#">Web Design</a></span>
			
									<span class="post-date"><a href="#"><time class="entry-date" datetime="2012-11-09T23:15:57+00:00">February 2, 2013</time></a></span>
			
									<span class="post-author"><a href="#">Albert Einstein</a></span>
			
									<span class="comments-link"><a href="">阅读4</a></span>
								</div>
							</header>
							<div class="entry-content clearfix">
								<p>Responsive web design offers us a way forward, finally allowing us to design for the ebb and flow of things. There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don’t look even slightly.</p>
								<div class="read-more cl-effect-14">
									<a href="/blog" class="more-link">阅读全文 <span class="meta-nav">→</span></a>
								</div>
							</div>
						</article>

						<article class="post post-3">
							<header class="entry-header">
								<h1 class="entry-title">
									<a href="/blog">Adaptive Vs. Responsive Layouts And Optimal Text Readability</a>
								</h1>
								<div class="entry-meta">
									<span class="post-category"><a href="#" rel="category tag">Web Design</a></span>
			
									<span class="post-date"><a href="#"><time class="entry-date" datetime="2012-11-09T23:15:57+00:00">February 2, 2013</time></a></span>
			
									<span class="post-author"><a href="#">Albert Einstein</a></span>
			
									<span class="comments-link"><a href="#">阅读4</a></span>
								</div>
							</header>
							<div class="entry-content clearfix">
								<p>Responsive web design offers us a way forward, finally allowing us to design for the ebb and flow of things. There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don’t look even slightly.</p>
								<div class="read-more cl-effect-14">
									<a href="/blog" class="more-link">阅读全文 <span class="meta-nav">→</span></a>
								</div>
							</div>
							<div class="entry-content clearfix talign mT50">
								<div id="laypage"></div>
							</div>
						</article>

					</main>
				</div>
			</div>
		</div>
		<footer id="site-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<p class="copyright">&copy;2016 caiyablogs.com - <a href="http://www.miitbeian.gov.cn/" target="_blank">陕ICP备16008133号</a> - <a href="http://www.caiyablogs.com/" target="_blank" title="西安-晁州">西安-晁州</a> - 井底之蛙，散于大海</p>
					</div>
				</div>
			</div>
		</footer>

		<!-- Mobile Menu -->
		<div class="overlay overlay-hugeinc">
			<button type="button" class="overlay-close"><span class="ion-ios-close-empty"></span></button>
			<nav>
				<ul>
					<li><a href="/">主页</a></li>
					<li><a href="/blogs">博客</a></li>
					<li><a href="/about">关于我</a></li>
					<li><a href="/contact">联系</a></li>
				</ul>
			</nav>
		</div>

		<script src="/static/js/script.js"></script>
		<script type="text/javascript">
			laypage({
			    cont: $('#laypage'), //容器。值支持id名、原生dom对象，jquery对象,
			    pages: 11, //总页数
			    skin: 'molv', //皮肤
			    first: 1, //将首页显示为数字1,。若不显示，设置false即可
			    last: 11, //将尾页显示为总页数。若不显示，设置false即可
			    prev: '<', //若不显示，设置false即可
			    next: '>', //若不显示，设置false即可
				jump: function(obj, first){
				    //得到了当前页，用于向服务端请求对应数据
<!--				    var curr = obj.curr;-->
<!--					alert(curr);-->
				}
			});
		</script>
	</body>
</html>
