<!DOCTYPE html>
<html>
	<head>
		<title>博客-晁州</title>

		<!-- meta -->
		<meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">

	    <!-- css -->
		<link rel="stylesheet" href="/static/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/css/ionicons.min.css">
		<link rel="stylesheet" href="/static/css/pace.css">
	    <link rel="stylesheet" href="/static/css/custom.css">

	    <!-- js -->
	    <script src="/static/js/jquery/jquery-2.0.3.min.js"></script>
	    <script src="/static/js/bootstrap.min.js"></script>
	    <script src="/static/js/pace.min.js"></script>
	    <script src="/static/js/modernizr.custom.js"></script>
	    <script src="/static/js/laypage/laypage.js"></script>
	</head>

	<body>
		<div class="container">	
			<header id="site-header">
				<div class="row">
					<div class="col-md-4 col-sm-5 col-xs-8">
						<div class="logo">
							<h1><a href="/"><b>晁州</b> &amp; 个人博客</a></h1>
						</div>
					</div><!-- col-md-4 -->
					<div class="col-md-8 col-sm-7 col-xs-4">
						<nav class="main-nav" role="navigation">
							<div class="navbar-header">
  								<button type="button" id="trigger-overlay" class="navbar-toggle">
    								<span class="ion-navicon"></span>
  								</button>
							</div>

							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  								<ul class="nav navbar-nav navbar-right">
    								<li class="cl-effect-11"><a href="/" title="主页">主页</a></li>
    								<li class="cl-effect-11"><a href="/blogs" title="博客">博客</a></li>
    								<li class="cl-effect-11"><a href="/about" title="关于我">关于我</a></li>
    								<li class="cl-effect-11"><a href="/contact" title="联系">联系</a></li>
  								</ul>
							</div><!-- /.navbar-collapse -->
						</nav>
					</div><!-- col-md-8 -->
				</div>
			</header>
		</div>
		<div class="content-body">
			<div class="container">
				<div class="row">
					<main class="col-md-12">
						{{range .blogList}}
							<article class="post">
								<header class="entry-header">
									<h1 class="entry-title">
										<a href="/bloginfo/{{formatToURL .Createtime}}/{{.Id}}">{{.Title}}</a>
									</h1>
									<div class="entry-meta">
										<span class="post-category"><a href="#">Web Design</a></span>
				
										<span class="post-date"><a href="#"><time class="entry-date" datetime="2012-11-09T23:15:57+00:00">{{formatTimeStamp .Createtime "2006年01月"}}</time></a></span>
				
										<span class="post-author"><a href="#">{{.Userid}}</a></span>
				
										<span class="comments-link"><a href="">阅读{{.Readnum}}</a></span>
									</div>
								</header>
								<div class="entry-content clearfix">
									<p>{{.Abstract}}</p>
									<div class="read-more cl-effect-14">
										<a href='/bloginfo/{{formatToURL .Createtime}}/{{.Id}}' class="more-link">阅读全文 <span class="meta-nav">→</span></a>
									</div>
								</div>
							</article>								
						{{end}}
						<div class="entry-content clearfix talign mT50">
							<div id="laypage"></div>
						</div>
					</main>
				</div>
			</div>
		</div>
		<footer id="site-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<p class="copyright">&copy;2016 caiyablogs.com - <a href="http://www.miitbeian.gov.cn/" target="_blank">陕ICP备16008133号</a> - <a href="http://www.caiyablogs.com/" target="_blank" title="西安-晁州">西安-晁州</a> - 井底之蛙，散于大海</p>
					</div>
				</div>
			</div>
		</footer>

		<!-- Mobile Menu -->
		<div class="overlay overlay-hugeinc">
			<button type="button" class="overlay-close"><span class="ion-ios-close-empty"></span></button>
			<nav>
				<ul>
					<li><a href="/">主页</a></li>
					<li><a href="/blogs">博客</a></li>
					<li><a href="/about">关于我</a></li>
					<li><a href="/contact">联系</a></li>
				</ul>
			</nav>
		</div>

		<script src="/static/js/script.js"></script>
		<script type="text/javascript">
			laypage({
			    cont: $('#laypage'), //容器。值支持id名、原生dom对象，jquery对象,
			    pages: {{.count}}, //总页数
			    skip: true, //是否开启跳页
			    skin: '#AF0000',
				first:1,
				curr:function(){ //通过url获取当前页，也可以同上（pages）方式获取
			        var page = location.search.match(/page=(\d+)/);
			        return page ? page[1] : 1;
			    }(),
				last:{{.count}},
			    groups: 3, //连续显示分页数
				jump: function(obj,first){
					if(!first){
						var f = document.createElement("form");
						document.body.appendChild(f);
						var i = document.createElement("input");
						i.type = "hidden";
						f.appendChild(i);
						i.value = obj.curr;
						i.name = "page";
						f.action = "/blogs";
						f.submit();
					}
			    }
			});
		</script>
	</body>
</html>
