<!DOCTYPE html>
<html>
	<head>
		<title>博客-晁州</title>

		<!-- meta -->
		<meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		
	    <!-- css -->
		<link rel="stylesheet" href="/static/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/css/ionicons.min.css">
		<link rel="stylesheet" href="/static/css/pace.css">
	    <link rel="stylesheet" href="/static/css/custom.css">

	    <!-- js -->
	    <script src="/static/js/jquery-2.1.3.min.js"></script>
	    <script src="/static/js/bootstrap.min.js"></script>
	    <script src="/static/js/pace.min.js"></script>
	    <script src="/static/js/modernizr.custom.js"></script>
	</head>
	
	<body>
		<div class="container">	
			<header id="site-header">
				<div class="row">
					<div class="col-md-4 col-sm-4 col-xs-8">
						<div class="logo">
							<h1><a href="/"><b>晁州</b> &amp; 个人博客</a></h1>
						</div>
					</div><!-- col-md-4 -->
					<div class="col-md-8 col-sm-4 col-xs-4">
						<nav class="main-nav" role="navigation">
							<div class="navbar-header">
  								<button type="button" id="trigger-overlay" class="navbar-toggle">
    								<span class="ion-navicon"></span>
  								</button>
							</div>

							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  								<ul class="nav navbar-nav navbar-right">
    								<li class="cl-effect-11"><a href="/" title="主页">主页</a></li>
    								<li class="cl-effect-11"><a href="/blogs" title="博客">博客</a></li>
    								<li class="cl-effect-11"><a href="/about" title="关于我">关于我</a></li>
    								<li class="cl-effect-11"><a href="/contact" title="联系">联系</a></li>
  								</ul>
							</div><!-- /.navbar-collapse -->
						</nav>
					</div><!-- col-md-8 -->
				</div>
			</header>
		</div>
		
		<div class="content-body">
			<div class="container">
				<div class="row">
					<main class="col-md-8">
						<article class="post">
							<header class="entry-header">
								<h1 class="entry-title">
									<a href="single.html">{{.blog.Title}}</a>
								</h1>
								<div class="entry-meta">
			
									<span class="post-date"><a href="#"><time class="entry-date">{{formatTimeStamp .blog.Createtime "2006年01月"}}</time></a></span>
			
									<span class="post-author"><a href="#">张小娴</a></span>
			
									<span class="comments-link"><a href="#">{{.blog.Readnum}} 阅读</a></span>
								</div>
							</header>
							<div class="entry-content clearfix">
								<p>{{str2html .blog.Content}}</p>
							</div>
						</article>
					</main>
					<aside class="col-md-4">
						<div class="widget widget-recent-posts">		
							<h3 class="widget-title">最近发布</h3>
							<ul>
								{{range .blogs}}
									<li>
										<a href="#">{{.Title}}</a>
									</li>
								{{end}}
							</ul>
						</div>
						<div class="widget widget-archives">		
							<h3 class="widget-title">档案</h3>		
							<ul>
								{{range .archives}}
									<li>
										<a href="#">{{.}}</a>
									</li>
								{{end}}
							</ul>
						</div>

						<div class="widget widget-category">		
							<h3 class="widget-title">类别</h3>
							<ul>
							{{range .categorys}}
								<li>
									<a href="#">{{.Name}}</a>
								</li>
							{{end}}
							</ul>
						</div>
					</aside>
				</div>
			</div>
		</div>
		<footer id="site-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<p class="copyright">&copy;2016 caiyablogs.com - <a href="http://www.miitbeian.gov.cn/" target="_blank">陕ICP备16008133号</a> - <a href="http://www.caiyablogs.com/" target="_blank" title="西安-晁州">西安-晁州</a> - 井底之蛙，散于大海</p>
					</div>
				</div>
			</div>
		</footer>

		<!-- Mobile Menu -->
		<div class="overlay overlay-hugeinc">
			<button type="button" class="overlay-close"><span class="ion-ios-close-empty"></span></button>
			<nav>
				<ul>
					<li><a href="/">主页</a></li>
					<li><a href="/blogs">博客</a></li>
					<li><a href="/about">关于我</a></li>
					<li><a href="/contact">联系</a></li>
				</ul>
			</nav>
		</div>
			
		<script src="/static/js/script.js"></script>
		
	</body>
</html>
